<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-7 col-xs-12">
      <app-inventory
        (itemWasSelected)="onItemTransferred($event)"
        [return]="itemReturned"></app-inventory>
        <hr>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12">
      <app-cart
        *ngIf="cartList.length !=0; else infoText"
        [cartItems]="cartList"
        (itemWasRemoved)="onItemRemoved($event)"></app-cart>
      <ng-template #infoText>
        <h3 class="text-center">Cart is Empty</h3>
      </ng-template>
    </div>
  </div>
</div>
